<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite color</title>
</head>

<body>
    <h1>Hello world</h1>
    <form action="process_color" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="">

        <select name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="hotpink">Pink</option>
            <option value="turquoise">Turquoise</option>
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
            <option value="grey">Grey</option>
            <option value="yellow">Yellow</option>
            <option value="black">Black</option>
        </select>
        <button>Submit</button>

    </form>

</body>

</html>